/**
 * Created by YiPengfei on 14-4-11.
 */

header{
    display:block;
    margin:0 auto;
    width:100%;
    text-align:center;
}

header h1{
    font-family:Arial;
    font-size:40px;
    font-weight:bold;
    margin:0 auto;
}

header #newgamebutton{
    display:block;
    margin:10px auto;

    width:100px;
    padding:10px 10px;
    background-color:#8f7a66;

    font-family:Arial;
    color:white;

    border-radius:10px;
    text-decoration:none;
}
header #newgamebutton:hover{
    background-color:#9f8b77;
}

header p{
    font-family:Arial;
    font-size:25px;
    margin:10px auto;
}

#grid-container{
    width:460px;
    height:460px;
    padding:20px;

    margin:10px auto;
    background-color:#bbada0;

    border-radius: 10px;
    position: relative;
}

.grid-cell{
    width:100px;
    height:100px;
    border-radius: 6px;
    background-color:#ccc0b3;

    position: absolute;
}

.number-cell{
    border-radius: 6px;

    font-family: Arial;
    font-weight:bold;
    font-size:60px;
    line-height:100px;
    text-align:center;

    position:absolute;
}